body{
 background: #EEAECA;
background: radial-gradient(circle, rgb(153, 92, 118) 0%, rgb(76, 112, 153) 100%);
width: 1024px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    justify-items: center;
    padding: 30px;
    margin: 0 auto;
}
header{
   
    
}
.nav-bar{
   position: fixed;
  background-color: rgba(105, 45, 139, 0.541);
  padding: 13px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px;
}

.content:hover{
    justify-content: center;
    justify-items: center;
}
 
h1{
    text-align: center;
    background-image: url(../MonProjetPrefo/image/milky-way-67504_1280.jpg);
margin-bottom: 100px;
    padding: 30px;
    color: aliceblue;
    border-radius: 50px;
    box-shadow: rgba(24, 3, 48, 0.74)  1px 10px 15px 10px;
  
}
.section-index{
margin-left: 60px;

}
.section-1{
    padding: 90px;
    background: #0f2b4d;
background: linear-gradient(0deg, rgba(15, 43, 77, 1) 0%, rgba(117, 52, 161, 0.11) 100%);
    border-radius: 50px;
    margin-bottom: 20px;
     box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px;
    
}
.section-2{
    padding: 90px;
     background: #0f2b4d;
background: linear-gradient(0deg, rgba(15, 43, 77, 1) 0%, rgba(117, 52, 161, 0.192) 100%);
   border-radius: 50px;
    box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px;
}

.section-3{
 padding: 90px;
     background: #0f2b4d80;
background: linear-gradient(0deg, rgba(15, 43, 77, 1) 0%, rgba(117, 52, 161, 0.178) 100%);
  border-radius: 50px;
  margin-bottom: 20px;
   box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px;

}
.section-4{
 padding: 90px;
   background: #0f2b4d73;
background: linear-gradient(0deg, rgba(15, 43, 77, 1) 0%, rgba(117, 52, 161, 0.199) 100%);
  border-radius: 50px;
   box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px;
 
}

.ul-index{
    background-color: rgba(86, 68, 151, 0.171);

    width: 90px;
    border-radius: 40px;
    margin: 0;
    text-decoration: none;
   list-style: none;
}

.ul-index li{
    
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    margin: 0;
}
.box-1{
position: absolute;
left: auto;
right: auto;
margin-left: 200px;
}
.box-2{

margin-left: 500px;
margin-right: 50px;

}
footer{
    text-align: center;
   background-color: #0f2b4d;
    bottom: 0;
margin-top: 700PX;
justify-content: center;
justify-items: center;
padding: 10PX;
}

img{
    width: 600px;
}
.image-a{
margin-top: 50px;
margin-left: 250px;
margin-bottom: 50px;
}

a{
    padding: 10px;
}
img{
    border-radius: 30px;
}
.header{
    float: left;
}
p{
    background-color: rgba(128, 128, 128, 0.103);
    font-size: initial;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.ul-parcours li{
    list-style: none;
    
  
}
ul a {
     list-style: none;
}
.back-rapport{
    background-color: rgba(128, 128, 128, 0.473);
    border-radius: 30px;
    padding: 30px;
   width: 500px;
   margin-left: 200px;
}
.image-parcours{
   margin-left: 200px;
      box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px 60px;
}
.image-rapport{
    margin-left: 190px;
     box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px 60px;
}
ul{
    padding: 0;
}

.footer-index{
    margin-left: 30px;
}
ol{
    margin-left: 150px;
background-color: rgba(128, 128, 128, 0.363);
border-radius: 10px;
}
.image-interview{
    margin-left: 130px;
     box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px;
     margin-bottom: 50px;
}
.margin-rapport{
    margin-left: 50px;
}
.h1-right{
    margin-left: 60px;
}
