body{
  background: #5b97bd;
background: linear-gradient(0deg, rgba(91, 151, 189, 1) 0%, rgba(176, 80, 181, 0.493) 100%);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content{
   
margin: 0;
}
.nav-bar{
position: fixed;
}
h1{
    text-align: center;
    background-image: url(../MonProjetPrefo/image/583aa5d9-c719-43e4-9c49-c2d89e5da6a5.jpg);
    padding: 20px;
    color: aliceblue;
}
.section-index{
justify-content: center;
justify-items: center;
margin-left: 0;

}
.section-1{
    padding: 90px;
    background-color: rgba(0, 0, 255, 0.205);
    border-radius: 40px;
    margin-bottom: 20px;
}
.section-2{
    padding: 90px;
    background-color: rgba(0, 0, 255, 0.219);
    border-radius: 40px;
    margin-bottom: 20px;

}

ul {
    background-color: rgba(85, 13, 94, 0.377);
    padding: 30px;
    width: 90px;
    margin-left: 30px;
    border-radius: 40px;
}
ul li{
    text-decoration: none;
  
}
a{
    text-decoration: none;
    color: black;
}
.box-1{
    display: flex;

}
.box-2{
    display: flex;
}
footer{
    text-align: center;
    background-color: gray;
    padding: 10px;
    margin-top: 50px;
}
aside{
    position: absolute;
    
}
img{
    width: 600px;
}
.image-a{
display: flex;
justify-content: center;
justify-items: center;
}