body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content{
   
    
}
.nav-bar{
    position: sticky;
 
    
}
h1{
    text-align: center;
    background-image: url(../MonProjetPrefo/image/583aa5d9-c719-43e4-9c49-c2d89e5da6a5.jpg);
    padding: 20px;
}
.section-index{

}