body{
 background: #EEAECA;
background: radial-gradient(circle, rgb(153, 92, 118) 0%, rgb(76, 112, 153) 100%);
width: 1024px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    justify-items: center;
    padding: 30px;
    margin: 0 auto;
}

.nav-bar{
  
  padding: 13px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px; 
position: fixed;}

.content{
    justify-content: center;
    justify-items: center;
}
header{
    margin: 0;
}
 
h1{
    text-align: center;
    background-image: url(./image/milky-way-67504_1280.jpg);
margin-bottom: 100px;
    padding: 25px;
    color: rgb(223, 234, 238);
    border-radius: 50%;
    box-shadow: rgba(30, 62, 205, 0.206)  1px 10px 15px 10px;
  font-weight: bold;
}
.section-index{
margin-left: 60px;

}
.section-1{
    padding: 90px;
   background-image: url(./image/milky-way-67504_1280.jpg);
    border-radius: 50px;
    margin-bottom: 20px;
     box-shadow: rgba(51, 2, 103, 0.574)  1px 10px 15px 10px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.section-2{
    padding: 90px;
    background-image: url(./image/milky-way-67504_1280.jpg);
   border-radius: 50px;
  box-shadow: rgba(51, 2, 103, 0.574)  1px 10px 15px 10px;
  margin-right: 30px;
}

.section-3{
 padding: 90px;
 background-image: url(./image/milky-way-67504_1280.jpg);
  border-radius: 50px;
  margin-bottom: 20px;
  box-shadow: rgba(51, 2, 103, 0.574)  1px 10px 15px 10px;
margin-bottom: 30px;
}
.section-4{
 padding: 90px;
     background-image: url(./image/milky-way-67504_1280.jpg);
  border-radius: 50px;
   box-shadow: rgba(51, 2, 103, 0.574)  1px 10px 15px 10px;
 
}
.section-1:hover{
    border: 3px solid rgba(104, 13, 146, 0.438);
}
.section-2:hover{
    border: 3px solid rgba(104, 13, 146, 0.438);
}
.section-3:hover{
    border: 3px solid rgba(104, 13, 146, 0.438);
}
.section-4:hover{
    border: 3px solid rgba(104, 13, 146, 0.438);
}


.ul-index{
    background-color: rgba(86, 68, 151, 0.171);

    width: 90px;
    border-radius: 40px;
    margin: 0;
    text-decoration: none;
   list-style: none;
}

.ul-index li{
    
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin-left: 5px;
    width: 95px;
}
li.margin-rapport{
    width: 300px;
}
a{
    text-decoration: none;
    color: rgb(249, 249, 249);
    margin: 0;
}
.box-1{
position: absolute;
left: auto;
right: auto;
margin-left: 200px;
}
.box-2{

margin-left: 500px;
margin-right: 50px;

}
footer{
    text-align: center;
   background-color: #0f2b4d;
    bottom: 0;
margin-top: 700PX;
padding: 10PX;
}

img{
    width: 600px;
}
.image-a{
margin-top: 50px;
margin-left: 250px;
margin-bottom: 50px;
}

a{
    padding: 10px;
}
img{
    border-radius: 30px;
}
.header{
 float: inline-start;
}
p{
    background-color: rgba(128, 128, 128, 0.103);
font-style: italic;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-top: 20px;
}
.ul-parcours li{
    list-style: none;
    
  
}
ul a {
     list-style: none;
}
.back-rapport{
    background-color: rgba(128, 128, 128, 0.473);
    border-radius: 30px;
    padding: 30px;
   width: 600px;
   margin-left: 200px;
}
.image-parcours{
   margin-left: 200px;
      box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px 60px;
}
.image-rapport{
    margin-left: 180px;
      border: 3px solid rgba(194, 168, 205, 0.474);
}
ul{
    padding: 0;
}

ol{
    margin-top: 20px;
    margin-left: 200px;
background-color: rgba(128, 128, 128, 0.363);
border-radius: 20px;
box-shadow: rgba(6, 64, 146, 0.574)  1px 10px 15px 10px;
padding: 35px;
}
.image-interview{
    margin-left: 130px;
     box-shadow: rgba(11, 72, 130, 0.644)  1px 10px 15px 10px;
     margin-bottom: 50px;
}

.h1-right{
    margin-left: 60px;
}
.a1:hover{
     border: 3px solid rgba(33, 5, 46, 0.438);
     border-radius: 30%;
     width: 70px;
    
}
.a2:hover{
    border: 3px solid rgba(33, 6, 46, 0.438);
     border-radius: 30%;
     width: 75px;
    
}
.a3:hover{
    border: 3px solid rgba(31, 5, 43, 0.438);
      border-radius: 30%;
     width: 75px;
    
}
.a4:hover{
    border: 3px solid rgba(38, 7, 53, 0.438);
     border-radius: 30%;
     width: 90px;
    
}
.a0:hover{
    border: 3px solid rgba(13, 4, 17, 0.438);
    border-radius: 30%;
     width: 60px;
    
}
.image-conclution{
    margin-left: 150px;
}
.back-rapport li {
    width: 300px;
}
.padding-section{
    padding: 100px;
    margin-left: -30px;
}
.footer-idex{
    margin-left: 230px;
}
strong li {
    width: 300px;
    margin-top: 20px;
}
ul  strong{
    color: #070339;
}