body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content{
   

}
.nav-bar{
    position: sticky;

}
h1{
    text-align: center;
    background-image: url(../MonProjetPrefo/image/583aa5d9-c719-43e4-9c49-c2d89e5da6a5.jpg);
    padding: 20px;
    color: aliceblue;
}
.section-index{
position: absolute;
padding: 200px;
}
.section-1{
    padding: 60px;
    background-color: rgba(0, 0, 255, 0.459);
    border-radius: 40px;
    margin-bottom: 20px;
}
.section-2{
    padding: 60px;
    background-color: rgba(0, 0, 255, 0.459);
    border-radius: 40px;
    margin-bottom: 20px;
    

}
.section-3{
    padding: 60px;
    background-color: rgba(0, 0, 255, 0.459);
    border-radius: 40px;
    margin-bottom: 20px;
}
.section-4{
    padding: 60px;
    background-color: rgba(0, 0, 255, 0.459);
    border-radius: 40px;
     margin-bottom: 20px;
}
ul {
    background-color: rgba(4, 42, 145, 0.575);
    padding: 20px;
    width: 80px;
    margin-left: 30px;
    border-radius: 40px;
}
ul li{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}