body{
 background: #EEAECA;
background: radial-gradient(circle, rgb(153, 92, 118) 0%, rgb(76, 112, 153) 100%);
width: 1024px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    justify-items: center;
    padding: 30px;
    margin: 0 auto;
}
header{
    float: left;
    
}
.nav-bar{
   position: fixed;
  background-color: rgba(105, 45, 139, 0.541);
  padding: 10px ;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px;
}

.content{
    
}
h1{
    text-align: center;
    background-image: url(../MonProjetPrefo/image/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTAxL21vdGFybzdfbWF1dmVfd2F0ZXJjb2xvcl9iYWNrZ3JvdW5kXzAzZDJkYzhhLWEyZDQtNDMxZi1iYjdkLThjODI1NzRlYmQ4Zl8xLmpwZw.jpg);
margin-bottom: 100px;
    padding: 15px;
    color: aliceblue;
    border-radius: 50%;
}
.section-index{
margin-left: 250px;
}
.section-1{
    padding: 90px;
    background: #0f2b4d;
background: linear-gradient(0deg, rgba(15, 43, 77, 1) 0%, rgba(117, 52, 161, 0.384) 100%);
    border-radius: 50px;
    margin-bottom: 20px;
     box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px;
}
.section-2{
    padding: 90px;
     background: #0f2b4d;
background: linear-gradient(0deg, rgba(15, 43, 77, 1) 0%, rgba(117, 52, 161, 0.384) 100%);
   border-radius: 50px;
    box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px;
}

.section-3{
 padding: 90px;
     background: #0f2b4d80;
background: linear-gradient(0deg, rgba(15, 43, 77, 1) 0%, rgba(117, 52, 161, 0.384) 100%);
  border-radius: 50px;
  margin-bottom: 20px;
   box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px;
}
.section-4{
 padding: 90px;
   background: #0f2b4d73;
background: linear-gradient(0deg, rgba(15, 43, 77, 1) 0%, rgba(117, 52, 161, 0.384) 100%);
  border-radius: 50px;
   box-shadow: rgba(0, 0, 0)  0px 5px 10px 5px;

}

.ul-index {
    background-color: rgba(86, 68, 151, 0.171);

    width: 90px;
    margin-left: 30px;
    border-radius: 40px;
    margin: 0;
    text-decoration: none;
   list-style: none;
}

.ul-index li{
    
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
    margin: 0;
}
.box-1{
position: absolute;
left: auto;
right: auto;
}
.box-2{
margin-left: 300px;

}
footer{
    text-align: center;
   background-color: #0f2b4d;
    bottom: 0;
    padding: 0;

}
aside{

    
}
img{
    width: 600px;
}
.image-a{
display: flex;
justify-content: center;
justify-items: center;
margin-top: 50px;
margin-left: 250px;
}

a{
    padding: 10px;
}
img{
    border-radius: 30px;
}
.header{
    float: left;
}
p{
    background-color: rgba(128, 128, 128, 0.103);
    font-size: initial;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.ul-parcours li{
    list-style: none;
    
  
}
ul a {
     list-style: none;
}
.back-rapport{
    background-color: rgba(128, 128, 128, 0.473);
    border-radius: 30px;
    padding: 30px;
}
.image-parcours{
   margin-left: 200px;
}
.image-rapport{
    margin-left: 200px;
}
ul{
    padding: 0;
}

